/multikernel-v1/;

/ {
    compatible = "linux,multikernel-host";
    
    resources {
        cpus {
            total = <16>;
            host-reserved = <0 1>;
            available = <2 3 4 5 6 7 8 9 10 11 12 13 14 15>;
        };
        
        memory {
            total-bytes = <0x0 0x800000000>;      // 32GB
            host-reserved-bytes = <0x0 0x200000000>; // 8GB
            memory-pool-base = <0x200000000>;
            memory-pool-bytes = <0x0 0x600000000>;   // 24GB
        };
        
        devices {
            eth0: ethernet@0 {
                compatible = "intel,i40e";
                pci-id = "0000:01:00.0";
                sriov-vfs = <4>;
                host-reserved-vf = <0>;
                available-vfs = <1 2 3 4>;
            };
            
            gpu0: gpu@0 {
                compatible = "nvidia,tesla-v100";
                pci-id = "0000:03:00.0";
                memory = <0x0 0x800000000>;  // 32GB GPU memory
            };
        };
    };
    
    instances {
        iot-gateway {
            id = <1>;
            resources {
                cpus = <2 3 4 5>;
                memory-base = <0x200000000>;
                memory-bytes = <0x400000000>;  // 4GB
                devices = <&eth0_vf1>;
            };
        };
        
        ai-inference {
            id = <2>;
            resources {
                cpus = <6 7 8 9 10 11>;
                memory-base = <0x600000000>;
                memory-bytes = <0x800000000>;  // 8GB
                devices = <&eth0_vf2>, <&gpu0>;
            };
        };
        
        data-processor {
            id = <3>;
            resources {
                cpus = <12 13 14 15>;
                memory-base = <0xE00000000>;
                memory-bytes = <0x400000000>;  // 4GB
                devices = <&eth0_vf3>;
            };
        };
    };
    
    // Device references
    eth0_vf1: ethernet-vf@1 { parent = <&eth0>; vf-id = <1>; };
    eth0_vf2: ethernet-vf@2 { parent = <&eth0>; vf-id = <2>; };
    eth0_vf3: ethernet-vf@3 { parent = <&eth0>; vf-id = <3>; };
};
